.auth__container {
    width: '90%';
    height: '80vh';
    margin: 'auto';
    display: 'flex';
    flex-direction: 'column';
    justify-content: 'center';
    align-items: 'center';
}

.auth__heading {
    text-align: 'center';
}

.auth__form {
    padding: '10px';
}

.input__email {
    width: '300px';
    height: '50px';
    border: 'none';
    outline: 'none';
    font-size: '1rem';
    padding: '5px 10px';
    margin-bottom: '1rem';
    border-radius: '0.5em';
    color: '#f4f4f4';
    background: '#6d3d6d';
}

.input__password {
    width: '300px';
    height: '50px';
    border: 'none';
    outline: 'none';
    font-size: '1rem';
    padding: '5px 10px';
    margin-bottom: '1rem';
    border-radius: '0.5em';
    color: '#f4f4f4';
    background: '#6d3d6d';
}

.btn__auth {
    width: '300px';
    height: '50px';
    border: 'none';
    outline: 'none';
    cursor: 'pointer';
    font-size: '1rem';
    padding: '5px 10px';
    margin-bottom: '1rem';
    border-radius: '0.5em';
    color: '#fff';
    background: '#4c2a4c';
}

.auth__help__text {
    text-align: 'center';
    color: '#f4f4f4';
}

.auth__help__text__link {
    color: '#f4f4f4';
}