.note__container {
    width: 60%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.new__note__container {
    margin: 1rem auto;
    width: 100%;
}

.note__form {}

.note__input {
    width: 80%;
    height: 50px;
    border: none;
    outline: none;
    font-size: 1rem;
    padding: 4px 10px;
    border-radius: 0.8em 0 0 0.8em;
    color: #111;
    background: #fff;
}

.btn__note {
    width: 20%;
    height: 50px;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 1rem;
    padding: 4px 10px;
    border-radius: 0 0.8em 0.8em 0;
    color: #fff;
    background: #4c2a4c;
}

.note__item__container {
    width: 100%;
    margin: auto;
}

.note__item {
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background: #4c2a4c;
    padding: 1px 10px;
    margin-bottom: 0.8rem;
    cursor: pointer;
    font-size: 1rem;
    border-radius: 0.5em;
}

.note__edit__input {
    height: 60px;
    border: none;
    outline: none;
    font-size: 1rem;
    padding: 5px 10px;
    border-radius: 0.5em 0 0 0.5em;
    color: #f4f4f4;
    background: #4c2a4c;
}

.note__item__left {}

.note__item__right {}